*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* question 7 */
body {
    background: linear-gradient(35deg, rgba(244,141,237,1) 0%, rgba(244,141,237,1) 35%, rgba(128,24,121,1) 100%);
}

.resumeContainer{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    max-width: 400px;
    border-radius: 14px;
    margin: 40px auto;
    padding: 40px 40px;
    background: #894aa8fa;
}

.resumeContainer .userImage{
    width: 100px;
}
.resumeContainer .expert{
    font-size: 18px;
    color: lightgray;
}

.resumeContainer .name{
    font-size: 24px;
    color: whitesmoke;
}

.resumeContainer .desc{
    font-size: 14px;
    color: white;
}

.socialMedia img{
    width: 35px;
}